body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1{
  margin-bottom: 10px;
  font-size: 500%;
 margin-top: 0;
 font-family: 'Sacramento', cursive;
 color: #66bfbf;
 font-weight: normal;
 border-color: #8080806b;
}
hr{
    background-color: #eaf6f6;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
 h2{
   font-family: 'Montserrat', sans-serif;
    color: #66bfbf;
 }
 .profile-pic{
   width:25%;
 }
 .after-hello{
   color: #40514e;
 }
 h3{
   font-family: 'Montserrat', sans-serif;
    color: #11999e
 }
.sub-heading{
      font-size: 1.3rem;
      color: #66bfbf;
}
 .top-container{
      background-color: #eaf6f6;

  }
  a{
    color: #11999e;
    line-height: 3;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover{
    color: #eaf6f6;
  }
.skill-row{
  width: 50%;
  margin:50px auto 100px auto;
  text-align: left;
  line-height: 2;
  }
.middle-container{
  background-color: #fff;

}
.my-skills{
  line-height: 6;

}
.nature-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.design-img{
  width: 25%;
  float: right;
  margin-left: 30px;

}
.bottom-container{
  background-color: #66bfbf;
  position: relative;
  top: 15px;

}
.copyright{
  color: #eaf6f6;
  line-height: 2;
}
.bottom-cloud{
  position: absolute;

}
.top-cloud{
  margin-top: 50px;

  position:relative;
  left: 250px;
}
.footer-link{
  color: #11999e;

}
.contact-me{
  line-height: 3;
}
.btn {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:8px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
  line-height: 2;
  margin-bottom: 40px;
  margin-top: 20px
}
.btn:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.btn:active {
	position:relative;
	top:1px;
}
